
// Footer style

footer {
    padding: 20px;
    text-align: center;
    background: #fff;
    scroll-snap-align: start;
  }

  // @media screen and (max-width: 1600px) {
   
// }

// @media screen and (max-width: 1024px) {
 
// }

@media screen and (max-width: 768px) {

  footer {
    font-size: 14px;
  }

}

// @media screen and (max-width: 480px) {

    
// }